

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  text-align: center;
  position: relative;
  top: 0vh;

}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  /*padding: 1.5vw;*/

  position: relative;
}





.container {
  background-color: transparent;
}