h1 {
    text-align: center;

    font-family: 'Oleo Script', cursive;



}

.fullTitle {

    /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/

    /*animation: fadeInUp;
    animation-duration: 2s;

    animation: fadeOut;
    animation-duration: 2s;
    */
}


.animate__animated.animate__fadeInRight {
    --animate-delay: 6s;
    --animate-duration: 2s;

}

.display-4 {
    font-size: 10rem;
    margin-top: 200px;
    color: #DD9028;
    position: relative;

}

.displaybg {
    color: #EE5A51;
}

.vibes {
    color: #378081;
}

p {
    /*text-align: center;*/
    margin-left: 28rem;
    font-family: 'Raleway', sans-serif;

}

.lead {
    font-size: 2.3rem;
    margin-top: -40px;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}