* {
  box-sizing: border-box;
}

.row {
  display: flex;
  text-align: center;
  position: relative;
  top: 0vh;

}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  /*padding: 1.5vw;*/
  position: relative;
}

.selected p {
  /*font-weight: bold;*/
  font-size: 450%;

}

.moodText {
  font-family: 'Sacramento', cursive;
  font-size: 300%;
}

.container {
  background-color: transparent;


}

.animate__animated.animate__zoomIn {
  --animate-duration: 1.7s;
}