h1 {
    text-align: center;

    font-family: 'Oleo Script', cursive;



}

.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;


}

.animate__animated.animate__fadeOut.animate__delay-3s {

    --animate-duration: 1.5s;



}


.animate__animated.animate__fadeInRight {
    --animate-duration: 2s;

}

#catch {

    --animate-duration: 1.5s;

}

.display-4 {
    font-size: 12vw;
    margin-top: 15vh;
    color: #DD9028;
    position: relative;

}

.displaybg {
    color: #EE5A51;
}

.vibes {
    color: #378081;
}

p {
    /*text-align: center;*/

    font-family: 'Raleway', sans-serif;


}

.lead {
    font-size: 2.3vw;
    margin-left: 30vw;

    margin-top: -7vh;


}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}