* {
  box-sizing: border-box;



}

.row {
  display: flex;
  text-align: center;
  position: relative;
  top: 0vh;

}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  /*padding: 1.5vw;*/

  position: relative;
}




html { 
  background: url(https://user-images.githubusercontent.com/66151655/86526164-4611db00-be5e-11ea-8d91-78924ccf1a14.jpg) no-repeat center fixed; 
  background-size: cover;
}


