h1 {
    text-align: center;

    font-family: 'Oleo Script', cursive;



}

.display-4 {
    font-size: 10rem;
    margin-top: 200px;
    color: #DD9028;
    position: relative;

}

.displaybg {
    color: #EE5A51;
}

.vibes {
    color: #378081;
}

p {
    /*text-align: center;*/
    margin-left: 28rem;
    font-family: 'Raleway', sans-serif;

}

.lead {
    font-size: 2.3rem;
    margin-top: -40px;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }