.nav-link {
    font-size: 25px;
}

.nav {
    width: 100%;
    padding-top: 100px !important;
}

.card-body a {
    font-family: 'Raleway', sans-serif;

}

.fa {
    font-size: 30px;
    color: #378081;
    text-decoration: none;
    cursor: pointer;
}

.fa:hover {
    color: #214a4b;
}